<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBj-aaWuujM1W9GG2ff0coZA_-TaASY3XU</string>
	<key>GCM_SENDER_ID</key>
	<string>995839914241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaApp</string>
	<key>PROJECT_ID</key>
	<string>zenda-app</string>
	<key>STORAGE_BUCKET</key>
	<string>zenda-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:995839914241:ios:c031308093a4cd94f12b00</string>
	<key>CLIENT_ID</key>
	<string>995839914241-00g3krg39m3rrf61pmto4vj78bk1lir4.apps.googleusercontent.com</string>
</dict>
</plist>
